body {
    font-family: 'Trebuchet', sans-serif;
    padding: 0px;
    margin: 0px;
    margin: auto;
    background-color:#04467e;
}
.mainWrapper{
    width: 980px;
    margin:auto;
    padding-bottom: 20px;
    background-color:#f7f7f7;
    -moz-box-shadow: 1px 1px 4px 0px black;
    -webkit-box-shadow: 1px 1px 4px 0px black;
    -o-box-shadow: 1px 1px 4px 0px black;
    box-shadow: 1px 1px 4px 0px black;
    /*  ombre du mainWrapper  adaptée aux differents navigateurs  */
}
.contentWrapper{
    padding: 35px 20px 20px;
}

/*  ------------    */
/*  --- MENU ---    */
/*  ------------    */
nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
nav li {
    float:left;
    margin:auto;
    padding:0;
}
.menu_item{background-color:#f7f7f7;color:#4b4b4b;}
#menu_item2{background-color:#ffd46d;color:#4b4b4b;}
#menu_item:hover{
background-color:#646464;color:#f7f7f7;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#active_menu_item{background-color:#646464;color:#f7f7f7;}
#active_menu_item2{background-color:#ffd46d;color:#f7f7f7;}
/*  Couleur des items du menu, hover ou non, actif ou non */
}
nav li ul {
    position:absolute;
}
#menu li a {
    display:block;
    width:153px;
    text-decoration:none;
    padding:10px 5px 10px 5px;
    border-bottom:1px solid #646464;
    font-weight: bold;
    font-style:normal;
    font-size:13px;
}
nav ul li ul {
    display:none;
    z-index: 1;
}
nav ul li:hover ul {
    display:block;
    
}
nav li:hover ul li {
    float:none;
}

/*  --------------  */
/*  -- BANNIERE --  */
/*  --------------  */
/*  ----Connexion-----  */
#connexion{
    padding-left:15px;
    padding-right:15px;
    background-color:#075da6;
    height:29px;
    font-size:12px;
    color:white;
}
#connexion a{
    color:white;
    font-weight: bold;
}
#connexion div{
    height:29px;
    float:left;
    padding-left:4px;
    padding-right:4px;
}
#connexion .connexion_text, .connexion_inscription{
    position:relative;
    top:6px;
}
#connexion .connexion_bold{
    font-weight: bold;
}
#connexion #mail, #password {
    height:14px;
    width:100px;
    margin-right:10px;
    position:relative;
    top:4px;
}
#connexion input[type=password], input[type=name]{
   background-color: #075da6;
   color:white;
}
#connexion .connexion_submit{
    position:relative;
    top:2px;
}
#connexion #submit {
    width: 80px;
    padding-left: 6px;
    background-color:#075da6;
    color:white;
    border-radius:3px;
} 
#connexion #submit:hover {
    background-color: #377fbd;
}
#connexion .connexion_inscription{
    float:right;
}
#banniere{
    height:140px;
}

/*  --------------  */
/*  --- CONTENU --  */
/*  --------------  */
/*  --- Propriétés de actualités --  */
h1{
    text-align:center;
}
#actualite, #modifierNews{
    width:700px;
    margin:auto;
    padding-left: 50px;
}
#actualite .actualite_info{
    text-align:center;
    font-size:12px;
}
#actualite .form-field, #modifierNews .form-field {
    clear: both;
    margin: 5px;
    overflow: hidden;
    margin:auto;
}
#actualite .form-field label{
    float:left;
    width:30%;
}
#modifierNews .form-field label{
    float:left;
    width:30%;
}
#actualite .form-field #titre,.form-field textarea, #modifierNews .form-field #titre{
    float: left;
    width: 55%;
    padding: 5px;
    border: 1px solid #686868;
    background: #fff;
}
#actualite .form-field-visibilite p{
    margin: 15px 0px 0px 0px;
}
#actualite .form-field-visibilite-element{
    margin-right: 30px;
}
#actualite #p_form-field-contenu, #modifierNews #p_form-field-contenu{
    margin: 15px 0px -15px 0px;
}
#actualite #contenu, #modifierNews #contenu{
    width:650px;
    height:150px;
    resize: none;
}
#actualite #contenu_previsualisation, #modifierNews #contenu_previsualisation{
    width:656px;
    height:150px;
    overflow-y: scroll;   
    word-wrap: break-word;
    border:1px solid #abadb3;
    border-radius: 4px;
}
#uploaderFichier{
    padding:30px 0px 30px 0px;
}
/*  --- Propriétés de fonction --  */
.fonction{
    padding:10px;
}
.fonction table{
    border-collapse: collapse; 
    /* Les bordures du tableau seront collées (plus joli) */
    margin: auto;
    border: 1px solid black;
}
.fonction td{

    height:40px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.fonction td div{
    width: 150px;
    overflow-x: scroll;
}
.fonction td img{
    display:block;
    margin:auto;
}
.fonction tr{
    border-bottom: 1px solid black;
}
.fonction th
{
    width: 150px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.fonction .false{
    background-color:#e12121;
    cursor:pointer;
}
.fonction .true{
    background-color:#36c227;
    cursor:pointer;
}
.fonction #impossible{
    margin:0;
    text-decoration : line-through;
}
/*  --- Propriétés de modifierMembres --  */
#changeMember{
    width:700px;
    margin:auto;
}
#changeMember .form-field {
    clear: both;
    margin: 5px;
    overflow: hidden;
    margin: 2px 0px 0px 0px;
}
#changeMember .form-field label{
    float:left;
    width:30%;
}
#changeMember .form-field input{
    float: left;
    width: 55%;
    padding: 5px;
    border: 1px solid #686868;
    background: #fff;
}
/*  --- Propriétés de modifierFonctionMembres --  */
.changeMemberFunction{
    width:550px;
    margin:auto;
}
.changeMemberFunction label{
    width:50%;
    float: left;
    margin:auto;
}

/*  --- Propriétés de gestionMembres --  */
.memberGestion table{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    margin: auto;
    border: 1px solid black;
}
.memberGestion td{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.memberGestion td div{
    width: 130px;
    overflow-x: scroll;
}
.memberGestion th{
    width: 130px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.memberGestion tr{
    border-bottom: 1px solid black;
}

.memberGestion .superAdminMembre {
    color : red;
}

/*  --- Propriétés de livreOrAConfirmer --  */
.livreOr{
    padding:0px 10px 0px 10px;
    text-align: center;
    word-wrap: break-word;
}
.livreOr p{
    margin-top: -20px;
}
/*  --- Propriétés de formulaireContact--  */
#formulaireContact{
    width:490px;
    margin:auto;
    padding-left:30px;
}
#formulaireContact .form-field{
    margin:5px;
    overflow:hidden;
    margin:auto;
}
#formulaireContact .form-field label{
    float:left;
    width:45%;
    padding: 5px; 
}
#formulaireContact .form-field input[type=mail]{
    float: left;
    width: 25%;
    padding: 5px;
    margin-right:10px;
    border: 1px solid #686868;
    background-color: #fff;
}

/*  --- Propriétés de gestionRepas ainsi que verouillerRepas ---  */

.gestionRepas {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    border: 2px solid black;
}
.gestionRepas td {
    border: 2px solid black;
    text-align: center;
    color:#ffffff;
    height: 30px;
}
.gestionRepas th {
    border: 2px solid black;
    width : 150px;
}
.gestionRepas2 {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    border: 2px solid black;
}
.gestionRepas2 td {
    border: 2px solid black;
    text-align: center;
    color:#000000;
}
.gestionRepas2 th {
    border: 2px solid black;
    width : 150px;
}
.gestionRepas2 .cliquable{
    cursor:pointer;
}
.gestionRepas .true
{
    background-color: green;
    cursor:pointer;
}
.gestionRepas .false
{
    background-color: #555555;
    cursor:pointer;
}
.gestionRepas .blocked
{
    background-color: #215f21;
    cursor:pointer;
}
.gestionRepas .infoTableau
{
    color:#000000;
}
/*  --- Propriétés de bloquerReservations -- */
.bloquerReservations input[type="text"]
{
    width:600px;
}
.horaireLimite input[type="number"]
{
    width:40px;
}
/*  --- Propriétés de error --  */
.error img{
    display: block;
    margin: auto;
}

/*  ----------------  */
/*  --- TOOL BOX ---  */
/*  ----------------  */

.ttpetit { font-size: xx-small; }
.tpetit  { font-size: x-small; }
.petit   { font-size: small; }
.gros    { font-size: large; }
.tgros   { font-size: x-large; }
.ttgros  { font-size: xx-large; }
.underline { text-decoration:underline; }
