body {
    font-family: 'Trebuchet', sans-serif;
    padding: 0px;
    margin: 0px;
    margin: auto;
    background:#04467e;
}
.mainWrapper{
    width: 980px;
    margin:auto;
    background:#f7f7f7;
    -moz-box-shadow: 1px 1px 4px 0px black;
    -webkit-box-shadow: 1px 1px 4px 0px black;
    -o-box-shadow: 1px 1px 4px 0px black;
    box-shadow: 1px 1px 4px 0px black;
    /*  ombre du mainWrapper  adaptée aux differents navigateurs  */
}

/*  ------------    */
/*  --- MENU ---    */
/*  ------------    */
nav{
    position:relative;
    top:-16px;
}
nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
nav li {
    float:left;
    margin:auto;
    padding:0;
}
#item0{background:#2e115a;}#item1{background:#2797e8;}#item2{background:#f8d617;}#item3{background:#a4b819;}#item4, #s_item4 a{background:#ce7526;}{background:#ce7526;}#item5, #s_item5 a{background:#6f0006;}#item6, #s_item6 a{background:#955359;}
#item0:hover{background:#503080;}#item1:hover{background:#5bade7;}#item2:hover{background:#f8de4d;}#item3:hover{background:#bfd241;}#item4:hover, #s_item4 a:hover{background:#e8964d;}#item5:hover, #s_item5 a:hover{background:#a90008;}#item6:hover, #s_item6 a:hover{background:#b0757a;}
#active_item0{background:#503080;}#active_item1{background:#5bade7;}#active_item2{background:#f8de4d;}#active_item3{background:#bfd241;}#active_item4{background:#e8964d;}#active_item5{background:#a90008;}#active_item6{background:#b0757a;}
/*  Couleur des items du menu, hover ou non, actif ou non */
.last_item{
    border-radius: 0px 0px 6px 6px;
    /*  Le dernier item du chaque menu déroulant a les bord inférieurs arrondis */
}
nav li ul {
    position:absolute;
}
nav li a {
    display:block;
    width:130px;
    color:white;
    text-decoration:none;
    padding:5px;
    text-shadow:1px 1px 1px black;
    font-weight: bold;
    font-style:normal;
    font-size:15px;
}
nav ul li ul {
    display:none;
    z-index: 1;
}
nav ul li:hover ul {
    display:block;
    
}
nav li:hover ul li {
    float:none;
}

/*  --------------  */
/*  -- BANNIERE --  */
/*  --------------  */
#banniere{overflow:hidden;height:220px;position:relative;top:-16px;}
#banniere img{width:980px;height:220px;}
#banniere ul{display: table;width:2700px;padding-left:0%;
-webkit-animation:siteslide 45s ease 0s infinite;
-moz-animation:siteslide 45s ease 0s infinite;
-ms-animation:siteslide 45s ease 0s infinite;
-o-animation:siteslide 45s ease 0s infinite;
animation:siteslide 45s ease 0s infinite;
}
#banniere ul li{display:table-cell;width:980px;height:220px;list-style:none;}
@-webkit-keyframes siteslide{
0%,23%{margin-left:0px;} 
30%,53% {margin-left:-980px;}
60%,83% {margin-left:-1960px;}  
100%{margin-left:-2940px;}
}
@-ms-keyframes siteslide{
0%,23%{margin-left:0px;} 
30%,53% {margin-left:-980px;}
60%,83% {margin-left:-1960px;}  
100%{margin-left:-2940px;}
}
@-o-keyframes siteslide{
0%,23%{margin-left:0px;} 
30%,53% {margin-left:-980px;}
60%,83% {margin-left:-1960px;}  
100%{margin-left:-2940px;}
}
@keyframes siteslide{
0%,23%{margin-left:0px;} 
30%,53% {margin-left:-980px;}
60%,83% {margin-left:-1960px;}  
100%{margin-left:-2940px;}
}
/*  --------------  */
/*  --- CONTENU --  */
/*  --------------  */
.contentWrapper{   
    padding: 0px 20px 5px 20px;;
}
.element h1,.element .a_title{
    font-size: 20px;
}
.element h2{
    font-size: 17px;
}
/*  --- Propriétés de la section association --  */
.association h1{
    color:#2797e8;
    text-shadow:1px 1px 0.6px #103b5a;
}
/*  --- Propriétés de la section actualités --  */
.actualites .a_title{
    color:#f8d617;
    text-shadow:1px 1px 0.6px #5a4c00;
}
.actualites .a_info {
    font-size: 12px;
    font-style: italic;
    color: #B1B1B1;
    padding-bottom: 10px;
}
.actualites .a_content {
    padding-bottom: 10px;
    border-bottom: 1px solid #B1B1B1;
}
/*  --- Propriétés de la section liensUtiles --  */
.liensUtiles h2{
    font-size: 16px;
    color:#a4b819;
    text-shadow:1px 1px 0.6px #323807; 
}
.liensUtiles p{
    position:relative;
    bottom:15px;
}
/*  --- Propriétés de la section livredor --  */
#img_livredor{
    position:relative;
    left:290px;
}
#div_livredor{
    padding-top:20px;
    text-align:center;
    width:600px;
    margin:auto;
}
#message_livredor{
    width:700px;
    margin:auto;
}
#message_livredor .message_info{
    text-align:center;
    font-size:12px;
}
#message_livredor .form-field {
    clear: both;
    margin: 5px;
    overflow: hidden;
    margin:auto;
}
#message_livredor .form-field label{
    float:left;
    width:20%;
    padding: 5px; 
}
#message_livredor .form-field input,.form-field textarea{
    float: left;
    width: 55%;
    padding: 5px;
    border: 1px solid #686868;
    background: #fff;
}
