body {
    font-family: 'Trebuchet', sans-serif;
    padding: 0px;
    margin: 0px;
    margin: auto;
    /*background-color:#04467e;*/
    -webkit-transition: all 1.4s ease-out;
    -moz-transition: all 1.4s ease-out;
    -ms-transition: all 1.4s ease-out;
    -o-transition: all 1.4s ease-out;
    transition: all 1.4s ease-out;
}
.mainWrapper{
    width: 980px;
    margin:auto;
    background-color:#f7f7f7;
    -moz-box-shadow: 1px 1px 4px 0px black;
    -webkit-box-shadow: 1px 1px 4px 0px black;
    -o-box-shadow: 1px 1px 4px 0px black;
    box-shadow: 1px 1px 4px 0px black;
    /*  ombre du mainWrapper  adaptée aux differents navigateurs  */
}

/*  ------------    */
/*  --- MENU ---    */
/*  ------------    */
nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
nav li {
    float:left;
    margin:auto;
    padding:0;
}
#item0{background-color:#2e115a;}#item1,#s_item1 a{background-color:#2797e8;}#item2, #s_item2 a{background-color:#f8d617;}#item3{background-color:#a4b819;}#item4{background-color:#ce7526;}#item5, #s_item5 a{background-color:#6f0006;}/*#item6, #s_item6 a{background-color:#955359;}*/
#item0:hover{background-color:#4e2887;}#item1:hover,#s_item1 a:hover{background-color:#7ec4f4;}#item2:hover, #s_item2 a:hover{background-color:#fdec8b;}#item3:hover{background-color:#d4e752;}#item4:hover{background-color:#eca25f;}#item5:hover, #s_item5 a:hover{background-color:#a90008;}/*#item6:hover, #s_item6 a:hover{background-color:#b0757a;}*/
#active_item0{background-color:#4e2887;}#active_item1{background-color:#7ec4f4;}#active_item2{background-color:#fdec8b;}#active_item3{background-color:#d4e752;}#active_item4{background-color:#eca25f;}#active_item5{background-color:#a90008;}/*#active_item6{background-color:#b0757a;}*/
/*  Couleur des items du menu, hover ou non, actif ou non */
/* le style de l'item 6 existe deja pour un eventuel futur onglet */
.submenu_item{background-color:#f7f7f7;color:#177f80;}
.submenu_item:hover{
background-color:#177f80;color:#f7f7f7;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.active_submenu_item{background-color:#177f80;color:#f7f7f7;}
/*  Couleur des items du sous-menu, hover ou non, actif ou non */
#subMenu .correct_size_contactPlateforme{
    width: 155px;
}
/*  correction des pixels manquant à droite pour le dernier item du submenu */
nav li ul {
    position:absolute;
}
#mainMenu li a {
    display:block;
    width:151px;
    color:white;
    text-decoration:none;
    padding:6px;
    text-shadow:1px 1px 1px black;
    font-weight: bold;
    font-style:normal;
    font-size:14px;
}
#mainMenu #item5, #mainMenu .correct_size, #mainMenu #active_item5{
    width:153px;
}
/*  correction des pixels manquant à droite pour le dernier item menu principal */
.last_item{
    border-radius: 0px 0px 6px 6px;
    /*  Le dernier item du chaque menu déroulant a les bord inférieurs arrondis */
}
#subMenu li a {
    display:block;
    width:153px;
    text-decoration:none;
    padding:10px 5px 10px 5px;
    border-bottom:1px solid #177f80;
    font-weight: bold;
    font-style:normal;
    font-size:13px;
}
nav ul li ul {
    display:none;
    z-index: 1;
}
nav ul li:hover ul {
    display:block;
    
}
nav li:hover ul li {
    float:none;
}

/*  --------------  */
/*  -- BANNIERE --  */
/*  --------------  */
/*  ----Connexion-----  */
#connexion{
    position: relative;
    z-index: 1;
    height:29px;
    padding-left:15px;
    background-color:#075da6;
    font-size:12px;
    color:white;
}
#connexion a{
    color:white;
    font-weight: bold;
}
#connexion div{
    height:29px;
    float:left;
    padding-left:4px;
    padding-right:4px;
}
#connexion .connexion_text, .connexion_inscription{
    position:relative;
    top:6px;
}
#connexion .connexion_bold{
    font-weight: bold;
}
#connexion #mail, #password {
    height:14px;
    width:100px;
    margin-right:10px;
    position:relative;
    top:4px;
}
#connexion input[type=password], #connexion input[type=email]{
   background-color: #075da6;
   color:white;
}
#connexion .connexion_submit{
    position:relative;
    top:2px;
}
#connexion #submit {
    width: 80px;
    padding-left: 6px;
    background-color:#075da6;
    color:white;
    border-radius:3px;
} 
#connexion #submit:hover {
    background-color: #377fbd;
}
#connexion .connexion_inscription{
    float:right;
}
#connexion .language{
    float:right;
    width: 52px;
}
#connexion .language img{
    position: relative;
    top: 4px;
    margin-left: 3px;
}
/*  ----Images-----  */
#bannierelogo{position:absolute;}
#banniere{overflow:hidden;height:190px;}
#sContent img{width:980px;height:190px;}
#banniere ul{
	display:table;width:2700px;margin:0;padding-left:0%;
	-webkit-animation:siteslide 60s ease 0s infinite;
	/* Safari 4+ */
	-moz-animation:siteslide 60s ease 0s infinite;
	/* Fx 5+ */
	-ms-animation:siteslide 60s ease 0s infinite;
	/* IE <= 10+ */
	-o-animation:siteslide 60s ease 0s infinite;
	/* Opera 12+ */
	animation:siteslide 60s ease 0s infinite;
	/* IE 10+ */
}
#banniere ul li{display:table-cell;width:980px;height:190px;list-style:none;}
@-webkit-keyframes siteslide{
	0%,19%{margin-left:0px;} 
	25%,44% {margin-left:-980px;}
	50%,69% {margin-left:-1960px;}  
	75%,94%{margin-left:-2940px;}
	100%{margin-left:-3920px;}
}
@-ms-keyframes siteslide{
	0%,19%{margin-left:0px;} 
	25%,44% {margin-left:-980px;}
	50%,69% {margin-left:-1960px;}  
	75%,94%{margin-left:-2940px;}
	100%{margin-left:-3920px;}
}
@-o-keyframes siteslide{
	0%,19%{margin-left:0px;} 
	25%,44% {margin-left:-980px;}
	50%,69% {margin-left:-1960px;}  
	75%,94%{margin-left:-2940px;}
	100%{margin-left:-3920px;}
}
@keyframes siteslide{
	0%,19%{margin-left:0px;} 
	25%,44% {margin-left:-980px;}
	50%,69% {margin-left:-1960px;}  
	75%,94%{margin-left:-2940px;}
	100%{margin-left:-3920px;}
}
/*  ----Les boites adresses-----  */
.boxAdresse{
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 190px;
    background-color:#075da6;
    opacity: 0.8;
    /* Pour la plupart des navigateurs actuels (norme CSS3) */
    filter:alpha(opacity=80);
    /* Pour les anciennes versions d'Internet Explorer */
    -moz-opacity:0.8;
    /* Pour Mozilla (<= 1.6) et une partie des navigateurs Gecko */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    color:white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}
.box1{
	-webkit-animation:animationBoxOne 60s ease 0s infinite;
	-moz-animation:animationBoxOne 60s ease 0s infinite;
	-ms-animation:animationBoxOne 60s ease 0s infinite;
	-o-animation:animationBoxOne 60s ease 0s infinite;
	animation:animationBoxOne 60s ease 0s infinite;
}
.box2{
	-webkit-animation:animationBoxTwo 60s ease 0s infinite;
	-moz-animation:animationBoxTwo 60s ease 0s infinite;
	-ms-animation:animationBoxTwo 60s ease 0s infinite;
	-o-animation:animationBoxTwo 60s ease 0s infinite;
	animation:animationBoxTwo 60s ease 0s infinite; 
}
.box3{
	-webkit-animation:animationBoxThree 60s ease 0s infinite;
	-moz-animation:animationBoxThree 60s ease 0s infinite;
	-ms-animation:animationBoxThree 60s ease 0s infinite;
	-o-animation:animationBoxThree 60s ease 0s infinite;
	animation:animationBoxThree 60s ease 0s infinite;
}
.box3{
	-webkit-animation:animationBoxThree 60s ease 0s infinite;
	-moz-animation:animationBoxThree 60s ease 0s infinite;
	-ms-animation:animationBoxThree 60s ease 0s infinite;
	-o-animation:animationBoxThree 60s ease 0s infinite;
	animation:animationBoxThree 60s ease 0s infinite;
}
.box4{
	-webkit-animation:animationBoxFour 60s ease 0s infinite;
	-moz-animation:animationBoxFour 60s ease 0s infinite;
	-ms-animation:animationBoxFour 60s ease 0s infinite;
	-o-animation:animationBoxFour 60s ease 0s infinite;
	animation:animationBoxFour 60s ease 0s infinite;
}
@-webkit-keyframes animationBoxOne{
	0%,21%{top:-25px;margin-left:775px;} 
	24%,43% {top:35px;margin-left:775px;}
	47%,100% {top:-25px;margin-left:775px;}
}
@-ms-keyframes animationBoxOne{
	0%,21%{top:-25px;margin-left:775px;} 
	24%,43% {top:35px;margin-left:775px;}
	47%,100% {top:-25px;margin-left:775px;}
}
@-o-keyframes animationBoxOne{
	0%,21%{top:-25px;margin-left:775px;} 
	24%,43% {top:35px;margin-left:775px;}
	47%,100% {top:-25px;margin-left:775px;}
}
@keyframes animationBoxOne{
	0%,21%{top:-25px;margin-left:775px;} 
	24%,43% {top:35px;margin-left:775px;}
	47%,100% {top:-25px;margin-left:775px;}
}
@-webkit-keyframes animationBoxTwo{
	0%,46%{top:-25px;margin-left:775px;} 
	49%,68% {top:35px;margin-left:775px;}
	72%,100% {top:-25px;margin-left:775px;}
}
@-ms-keyframes animationBoxTwo{
	0%,46%{top:-25px;margin-left:775px;} 
	49%,68% {top:35px;margin-left:775px;}
	72%,100% {top:-25px;margin-left:775px;}
}
@-o-keyframes animationBoxTwo{
	0%,46%{top:-25px;margin-left:775px;} 
	49%,68% {top:35px;margin-left:775px;}
	72%,100% {top:-25px;margin-left:775px;}
}
@keyframes animationBoxTwo{
	0%,46%{top:-25px;margin-left:775px;} 
	49%,68% {top:35px;margin-left:775px;}
	72%,100% {top:-25px;margin-left:775px;}
}
@-webkit-keyframes animationBoxThree{
	0%,71% {top:-25px;margin-left:775px;}
	74%,93%{top:35px;margin-left:775px;} 
	97%,100% {top:-25px;margin-left:775px;}
}
@-ms-keyframes animationBoxThree{
	0%,71% {top:-25px;margin-left:775px;}
	74%,93%{top:35px;margin-left:775px;} 
	97%,100% {top:-25px;margin-left:775px;}
}
@-o-keyframes animationBoxThree{
	0%,71% {top:-25px;margin-left:775px;}
	74%,93%{top:35px;margin-left:775px;} 
	97%,100% {top:-25px;margin-left:775px;}
}
@keyframes animationBoxThree{
	0%,71% {top:-25px;margin-left:775px;}
	74%,93%{top:35px;margin-left:775px;} 
	97%,100% {top:-25px;margin-left:775px;}
}
@-webkit-keyframes animationBoxFour{
	0%,18%{top:35px;margin-left:775px;} 
	21%,97%{top:-25px;margin-left:775px;}
	100% {top:35px;margin-left:775px;}
}
@-ms-keyframes animationBoxFour{
	0%,18%{top:35px;margin-left:775px;} 
	21%,97%{top:-25px;margin-left:775px;}
	100% {top:35px;margin-left:775px;}
}
@-o-keyframes animationBoxFour{
	0%,18%{top:35px;margin-left:775px;} 
	21%,97%{top:-25px;margin-left:775px;}
	100% {top:35px;margin-left:775px;}
}
@keyframes animationBoxFour{
	0%,18%{top:35px;margin-left:775px;} 
	21%,97%{top:-25px;margin-left:775px;}
	100% {top:35px;margin-left:775px;}
}
#dateAujourdhui{
    position: absolute;
    margin-left: 760px;
    top: 190px;
    color: white;
    font-weight: bold;
    text-shadow: 1.2px 1.2px 1px black;
    width:215px;
}

/*  --------------  */
/*  --- CONTENU --  */
/*  --------------  */
.contentWrapper{   
    padding: 35px 20px 20px 20px;
    word-wrap: break-word;
}
/*  --- Suppression des espaces sur les pages "informatives" du site --  */
.element h1, .element h2, .element h3, .element h4, .element h5, .element h6, .element p{
    margin-top:0px;
    margin-bottom:0px;
}
.element ul{
    margin-top:3px;
    margin-bottom:0px; 
}
/*  --- Propriétés du mode edition --  */
.edition_mode #contenu{
    width:930px;
    height:350px;
    resize: none;
}
.edition_mode #contenu_previsualisation{
    width:936px;
    height:350px;
    overflow-y: scroll;   
    word-wrap: break-word;
    border:1px solid #abadb3;
    border-radius: 4px;
}
/*  --- Propriétés du slider de photos --  */
.slider{
    width: 340px;
    border:5px solid white;
    -moz-box-shadow: 1px 1px 4px 0px black;
    -webkit-box-shadow: 1px 1px 4px 0px black;
    -o-box-shadow: 1px 1px 4px 0px black;
    box-shadow: 1px 1px 4px 0px black;
}
.caption{
    background-color: white;
    width: 100%;
    padding: 2px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    opacity: 0.7;
    /* Pour la plupart des navigateurs actuels (norme CSS3) */
    filter:alpha(opacity=70);
    /* Pour les anciennes versions d'Internet Explorer */
    -moz-opacity:0.7;
    /* Pour Mozilla (<= 1.6) et une partie des navigateurs Gecko */
}
/* --- Propriétés des captcha et protection --- */
#tableCaptcha {
border: 1px solid black;
margin-bottom: 10px;
font-size: 15px;
}
#tableCaptcha td{
    padding: 0px 20px 0px 20px;
    text-align: center;
}
.nosResidences #tableCaptcha td{ 
    padding: 0px 0px 0px 0px;
    text-align: center;
}
#tableCaptcha input{
    position: relative;
    bottom: 10px;
    width: 70px;
    height:28px;
}
/* Piège à spambot de l'anglais honey-pot */
.hp{
    display: none;
}
/*  --- Propriétés de la section index --  */
#aLaUneImg {
    position: relative;
    right: 18px;
}
#indexContent{
    float:left;
    width: 680px;
}
#aLaUne{
    width: 250px;
    height: 400px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x:hidden;
    font-size: 11px;
    position:relative;
    left:25px;
}
#aLaUne h4{
    color:#04467e;
    margin-bottom: 0px;
}
#aLaUne .dateNews{
    color:#85a5c0;
}
#aLaUne p{
    margin: 0;
}
/*  --- Propriétés de la section livredor --  */
#img_livredor{
    position:relative;
    left:290px;
}
#div_livredor{
    padding-top:20px;
    width:600px;
    margin:auto;
    text-align:center;
    word-wrap: break-word;
}
#message_livredor{
    width:700px;
    margin:auto;
}
#message_livredor .message_info{
    text-align:center;
    font-size:12px;
}
#message_livredor .form-field {
    margin:5px;
    overflow: hidden;
    margin:auto;
}
#message_livredor .form-field label{
    float:left;
    width:20%;
    padding:5px; 
}
#message_livredor .form-field input,#message_livredor .form-field textarea{
    float:left;
    width:55%;
    padding:5px;
    border:1px solid #686868;
    background-color:#fff;
}
#message_livredor .form-field textarea{
    resize:none;
}
/*  --- Propriétés de mainContact, plateformeLogementContact et residenceContact--  */
#mainContact, #plateformeLogementContact{
    width:600px;
    margin:auto;
    padding-left:50px;
}
#residenceContact{
    width:498px;
    margin:auto;
    padding-left: 16px;
}
#mainContact .form-field, #plateformeLogementContact .form-field, #residenceContact .form-field{
    margin:5px;
    overflow:hidden;
    margin:auto;
}
#mainContact .form-field label, #mainContact .form-field-contenu label, #plateformeLogementContact .form-field label, #plateformeLogementContact .form-field-contenu label, #residenceContact .form-field label, #residenceContact .form-field-contenu label{
    float:left;
    width:35%;
    padding: 5px; 
}
#mainContact .form-field input, #plateformeLogementContact .form-field input{
    float: left;
    width: 54%;
    padding: 5px;
    border: 1px solid #686868;
    background-color: #fff;
}
#residenceContact .form-field input{
    float: left;
    width: 59%;
    padding: 5px;
    border: 1px solid #686868;
    background-color: #fff;
}
#mainContact #contenu, #plateformeLogementContact #contenu{
    width: 545px;
    height:250px;
    padding: 5px;
    resize:none;
}
#residenceContact #contenu{
    width: 480px;
    height:120px;
    padding: 5px;
    resize:none;
}
/*  --- Propriétés de la section contact --  */
#uploaderFichier{
    padding:30px 0px 30px 0px;
}
/*  --- Propriétés de la section restauration --  */
.restauration #caseVerte
{
    color:green;
    text-shadow: 0.5px 0.5px 0.4px black;
}
.restauration #caseOrange
{
    color:orange;
    text-shadow: 0.5px 0.5px 0.4px black;
}
.restauration #caseGrise
{
    color:#555555;
    text-shadow: 0.5px 0.5px 0.4px black;
}
.restauration .buttonDisconnect
{
    margin-top: 7px;
}
.restauration table 
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    border: 2px solid black;
}
.restauration td 
{
    border: 2px solid black;
    text-align: center;
    color:#ffffff;
    height: 30px;
}
.restauration th 
{
    border: 2px solid black;
    width : 150px;
}
.restauration #repasAnneFrank .true, .restauration #repasClairLogis .true
{
    background-color: orange;
    cursor:pointer;
}
.restauration #repasAnneFrank .false, .restauration #repasClairLogis .false
{
    background-color: green;
    cursor:pointer;
}
.restauration #repasAnneFrank .invalide, .restauration #repasClairLogis .invalide
{
    background-color: #555555;
    cursor:not-allowed;
}
.restauration #repasAnneFrank .falseBlocked, .restauration #repasClairLogis .falseBlocked
{
    color: #c8c8c8;
    background-color: #215f21;
    cursor:not-allowed;
}
.restauration #repasAnneFrank .trueBlocked, .restauration #repasClairLogis .trueBlocked
{
    color: #c8c8c8;
    background-color: #bc8927;
    cursor:not-allowed;
}
.restauration #repasAnneFrank .infoTableau, .restauration #repasClairLogis .infoTableau
{
    color:#000000;
}
.restauration .divSelectionEtMenu{
    height:45px;
}
.restauration .selectionSemaine{
    float: left;
    margin-right: 15px;
}
.restauration #repasAnneFrank .lienMenu input, .restauration #repasClairLogis .lienMenu input{
    position:relative;
    top:10px;
}
.restauration #repasAnneFrank .lienMenu img, .restauration #repasClairLogis .lienMenu img{
    position:relative;
    top:15px;
}
.restauration #menuAnneFrank, .restauration #menuClairLogis{
    height:30px;
}
.restauration #menuAnneFrank input, .restauration #menuClairLogis input{
    position: relative;
    bottom: 6px;
}
/*  --- Propriétés de la section parameters --  */
.parameters fieldset{
    width:700px;
    margin:auto;
}
.parameters .form-field {
    clear: both;
    margin: 5px;
    overflow: hidden;
    margin: 2px 0px 0px 0px;
}
.parameters .form-field label{
    float:left;
    width:30%;
}
.parameters .form-field input{
    float: left;
    width: 55%;
    padding: 5px;
    border: 1px solid #686868;
    background: #fff;
}
#footer{
    height: 30px;
    padding: 10px 20px 0px 20px;
    font-size: 10px;
}
#footer a{
    color:black;
    text-decoration:none;
}

#visiteurs{
    margin-right: 20px;
}

/*  ----------------  */
/*  --- TOOL BOX ---  */
/*  ----------------  */

.ttpetit { font-size: xx-small; }
.tpetit  { font-size: x-small; }
.petit   { font-size: small; }
.gros    { font-size: large; }
.tgros   { font-size: x-large; }
.ttgros  { font-size: xx-large; }
.underline { text-decoration: underline; }